<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>/mu/tant music archive</title>
        <link href="/static/style.css" type="text/css" rel="stylesheet">

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    </head>
    <body>
      <div id=header>
        <h1>/mu/tant music archive<sup>alpha</sup></h1>
        <a href="/open">open</a> -
        <a href="/popular">popular</a> -
        <a href="/archive">archive</a>
      </div>
      <div id=main>{% block content %}{% endblock %}</div>
    </body>
</html>
