{% extends "base.html" %}
{% block content %}
{% autoescape true %}
<h1>all-time popular bands</h1>
<p>
  Popularity is defined by #comments/#post. You have to be commented
  at least 10 times to show up on this top-{{ bands|length }} list.
</p>
<table>
  <tr><th class=nbpost>#post</th><th class=nbcom>#com</th><th class=band>band</th></tr>
  {% for b in bands %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class=nbpost>{{ b.nbpost }}</td>
    <td class=nbcom>{{ b.nbcom }}</td>
    <td class=band>
      <a href="{{ b.url }}">{{ b.name }}</a>
    </td>

  </tr>
  {% endfor %}
</table>
{% endautoescape %}
{% endblock %}
