{% extends "base.html" %}
{% block content %}
{% autoescape true %}
<h1>thread archive</h1>
<p>Posts are filtered and sorted. Band post are directly followed by their comments.</p>
<hr/>

<div class=thread id="t{{ t.id() }}">
  <h2>
    <a href="#t{{ t.id() }}"><img alt="4chan" src="/static/4chan.png"/></a>
    <a href="#t{{ t.id() }}">{{ t.sub()|d('[no subject]', true) }}</a>
  </h2>
  {% for b in t.posts %}
  {% if b.is_band() %}
  <div id="cont-{{ b.id() }}" class="band-container {{ loop.cycle('mult1', 'mult2', 'mult3', 'mult4', 'mult5') }}">
    <div id="p{{ b.id() }}" class="post band">
      {{ b.com()|safe }}
      <div style="display:hide" class="js-comment"></div>
    </div>
    {% for c in t.ref_to_post(b.id()) %}
    <div id="p{{ c.id() }}" class="post comment">
      {{ c.com()|safe }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endautoescape %}
{% endblock %}
