
body {
    background: #222222;
    color: #ababab;
    font-family: verdana;
    font-size: small;
    padding: 0;
    margin: 0;
}

#header {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #111111;
}

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
    display: inline;
}

#header sup {
    font-size: x-small;
    color: #555555;
}

#main {
    width: 50em;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#main td, #main th, #main table {
    border-collapse: collapse;
}

div.band-container {
    margin-bottom: 3em;
}

div.band-container.mult1 { border-left: 5px solid #481E09; }
div.band-container.mult2 { border-left: 5px solid #1f4809; }
div.band-container.mult3 { border-left: 5px solid #093F48; }
div.band-container.mult4 { border-left: 5px solid #503671; }
div.band-container.mult5 { border-left: 5px solid #283598; }

div.band-container.mult1 { border-right: 5px solid #481E09; }
div.band-container.mult2 { border-right: 5px solid #1f4809; }
div.band-container.mult3 { border-right: 5px solid #093F48; }
div.band-container.mult4 { border-right: 5px solid #503671; }
div.band-container.mult5 { border-right: 5px solid #283598; }


div.thread h2 {
    // border-left: 3px solid red;
    padding-left: .3em;
}

div.post {
    padding: .8em;
}

div.post .quote {
    color: #59855B;
}

hr {
    margin: 3em;
    border: 0;
}

div.band {
    background: #1e1e1e;
}

div.comment {
    background: #202020;
    margin-left: 2em;
    margin-top:    .4em;
    margin-bottom: .4em;
}

tr.odd {
    background: #1e1e1e;
}

td.nbcom, th.nbcom {
    text-align: right;
    width: 6em;
}

td.nbpost, th.nbpost {
    text-align: right;
    width: 6em;
}


td.band, th.band {
    padding-left: 1em;
    text-align: left;
}

#main table {
    width: 100%;
}

#main th {
    background: #111111;
}

a {
    color: #CB2C2C;
    text-decoration: none;
}

#main h1 {font-size: 150%;}

table td.date, table th.date {
    width: 15em;
}

table td.nbpost, table th.nbpost {
    width: 5em;
    text-align: right;
}

table th.subject {
    text-align: left;
}

a.ext {
    color: #3D90E8;
    font-weight: bold;
}

#dateupdate {
    padding-left: 3em;
    font-size: 80%;
    color: #5C5C5C;
}

div#faq h2 {
    margin-top: 2em;
    font-size: medium;
    color: #dadada;
}

a.bandquote {
    color: gold;
    font-weight: bold;
}

.js-comment {
    margin-top: 1em;
    margin-left: 1em;
    color: red;
}
